@page
@model WebAppRazerDemo.MyrazerPageModel
@{
    ViewData["Title"] = "MyrazerPage";
}

<h1>MyrazerPage</h1>
<style>
    .para1 {
        color: purple;
        text-align: center;
        background: yellow;
        font-size: 18px;
    }
</style>
<body>
    <p class="para1">Hello Busy people</p>
    <p>Good morning</p>
    </body>


